View {
  font-size: 22px;
  color: black;
}
.tab-content {    
  min-height: 1200px;
  background-image: url('../../assets//images/exbg.jpeg');
  background-size: 100%;
  opacity: 0.8;
  .test-item {
    height: 100px;
    background-color: rgba(255, 38, 0, 0.164);
    border-bottom: 5px solid rgba(244, 96, 96, 0.575);
    color: black;
    font-size: 30px;
    line-height: 100px;
    text-indent: 1.2em;
  }
  .courseList {
    width: 100%;
    .course-item {
      width: 100%;
      border-bottom: 5px solid sandybrown;
      height: 200px;
      color: black;
      .item-title, .item-price{
        width: 100%;
        text-indent: 1.2em;
        font-size: 34px;
        display: block;
        padding: 30px 0 15px 0;
      }
    }
  }
}