.show {
  display: block;
}
.hide {
  display: none;
}

scrollbar { width: 0 !important }
.container{
  height: 1500px;
}
.top-tab{
  width: 750px;
  height: 100px;
  background: #298DE5;
  color: #8CCEFD;
  font-size: 28px;
  line-height: 100px;
  box-shadow: 0 2px 2px #bebebe;
  margin: 0 0 8px 0;
  z-index: 9999;

  .active {
    color: #ffffff;
    border-bottom: solid 2px #ffffff;
  }
}

.placehold{
  font-size: 28px;
  padding: 80px 0;
}

.container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width:100%;
  background: #F0F4F3;
  padding: 0;
  font-size: 20px;
  color: #000;

  &.withtab{
    margin: 0 0 0 0;
  }

}
.ex-wrp{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  background-color: rgb(255, 187, 0);
}
.active {
  color: #ffffff !important;
  border-bottom: solid 2px #ffffff;
}
.ex-tab{
  width: auto;
  white-space: nowrap;
  overflow-x: scroll;
}
.ex-item {
  height: 80px;
  margin: 0 15px;
  line-height: 80px;
  font-size: 30px;
  color: rgb(24, 23, 23);
}

.flex-wrp{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 187, 0);
}
.flex-tab{
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
}
.flex-item{
  flex-grow: 1;
  text-align: center;
  .text {
    display: inline-block;
  }
}
.top-tab{
  width: 100%;
  height: 100px;
  background: #fc9e32;
  color: #111111;
  font-size: 28px;
  line-height: 100px;
  box-shadow: 0 2px 2px #bebebe;
  margin: 0 0 8px 0;
  z-index: 9999;

  &.active{
    color: #111111;
    border-bottom: solid 2px #ffffff;
  }
}
.taro-img {
  width: auto!important;
  height: auto!important;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}
